*{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navcontainer{
    padding: 20px;
    background-color: rgb(10, 75, 1);
    color: white;
}

.navcontainer img{
    width: 100px;
    height: auto;
}

a{
    text-decoration: none;
    color:rgb(10, 75, 1);
}

.categoryName {
    margin: 30px 5%;
    color: rgb(255, 255, 255);
    background-color: rgb(64, 156, 51);
    padding: 10px;
}

.categories{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 30px;
    background-color: rgb(224, 245, 199);
    margin: 0 5%;
    padding: 20px;
}

.products{
    position: relative;
    height: 290px;
    width: 250px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.products:hover {
    transform: translateY(15px);
    opacity : 1;
    transition-delay: 0.2s;
}

.products .image1{
    width: 220px;
    height: auto;
    align-items: center;
    border-radius: 20px;
}

.overlay {
    position: absolute;
    border-radius: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width:0;
    height: 100%;
    transition: .5s ease;
}
  
  .products:hover .overlay {
    width: 100%;
    left:0;

}

.text {
    color: rgb(0, 0, 0);
    font-size: 20px;
    position: absolute;
    top: 88%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

  .footer{
    margin-top: 30px;
    padding:50px;
    background-color:rgb(10, 75, 1);
    
}